<html>
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="Steve's (really well programmed 😅) personal portfolio website"/>

    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="meme"/>
    <meta property="og:title" content="./steve.sh | leo"/>
    <meta property="og:description" content="How Long Has it Been Since Leo Updated His Website?"/>
    <meta property="og:url" content="https://leo.dotslashsteve.sh">
    <meta property="og:site_name" content="./steve.sh | leo">
    <meta property="og:image" content="">

    <meta name="google" content="nositelinkssearchbox"/>
    <meta name="keywords" content="meme, personal">
    <meta name="robots" content="index, follow">
    <meta name="copyright" content="Steve 2022">
    <meta name="language" content="EN">
    <meta name="author" content="Steve Tautonico">
    <meta name="distribution" content="global">
    <meta name="rating" content="general">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/logos/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/logos/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/logos/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">


    <title>Leo's Website Update Tracker</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="icon" href="/static/img/favicon.png" type="image/png">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
</head>
<body>
<div class="container">
    <h1 class="title">Leo's Website Was Last Updated</h1>
    <div id="countdown">
        <img id="loader" src="" alt="Loading...">
        <ul>
            <li id="years_container"><span id="years"></span>
                <p id="years_label">Years</p></li>
            <li id="months_container"><span id="months"></span>
                <p id="months_label">Months</p></li>
            <li id="days_container"><span id="days"></span>
                <p id="days_label">Days</p></li>
            <li id="hours_container"><span id="hours"></span>
                <p id="hours_label">Hours</p></li>
            <li id="minutes_container"><span id="minutes"></span>
                <p id="minutes_label">Minutes</p></li>
            <li id="seconds_container"><span id="seconds"></span>
                <p id="seconds_label">Seconds</p></li>
        </ul>
    </div>
    <h1 class="title">Ago</h1>
</div>

<div id="theme_selector_container">
    <input onclick="toggle_theme()" id="theme_selector" name="theme_selector" type="checkbox"/><label
        for="theme_selector"></label>
</div>
</body>
<script src="/static/js/index.js"></script>

</html>
